<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.select :price, options_for_select(Restaurant::PRICES, @restaurant.price), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :cuisine %>
    <%= f.select :cuisine, options_for_select(Restaurant::CUISINES, @restaurant.cuisine), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.select :location, options_for_select(Restaurant::LOCATIONS, @restaurant.location), {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.button 'Create Restaurant', class: 'btn btn-default' %>
  </div>
<% end %>
