<h1>Listing restaurants</h1>

<div class="row">
<!--   <div class="col-md-3">
  </div> -->
  <div class="col-md-9">
    <% @restaurants.each do |restaurant| %>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/250x150">
        </a>
        <div class="media-body">
          <h3 class="media-heading">
            <%= link_to restaurant, restaurant %>
          </h3>
          <div>
            Japanese $$$ CBD
          </div>
          <p>
            <%= restaurant.description %>
          </p>
          <div>
            <%= link_to 'Explore Menu', restaurant, class: 'btn btn-default' %>
            <%= link_to 'Start a Feast', new_restaurant_feast_path(restaurant), class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Restaurant', new_restaurant_path %>
