<h1>Listing restaurants</h1>

<div class="row">
  <div class="col-md-3">
    <h4>
      Search for restaurants
    </h4>
    <%= form_tag(restaurants_path, method: "get") do %>
      <div class="form-group">
        <%= label_tag :party, 'Party of?' %>
        <%= select_tag :party,
          options_for_select(
            (2..10).to_a,
            params[:party]
          ),
          class: 'form-control'
        %>
      </div>

      <div class="form-group">
        <%= label_tag :location, 'Location' %>
        <%= select_tag :location,
          options_for_select(
            [''] + Restaurant::LOCATIONS,
            params[:location]
          ),
          class: 'form-control'
        %>
      </div>

      <div class="form-group">
        <%= label_tag :cuisine, 'Cuisine' %>
        <%= select_tag :cuisine,
          options_for_select(
            [''] + Restaurant::CUISINES,
            params[:cuisine]
          ),
          class: 'form-control'
        %>
      </div>

      <div class="form-group">
        <%= label_tag :price, 'Price' %>
        <%= select_tag :price,
          options_for_select(
            [''] + Restaurant::PRICES,
            params[:price]
          ),
          class: 'form-control'
        %>
      </div>

      <!-- <div class="form-group">
        <%= label_tag :q, "Name" %>
        <%= text_field_tag :q, params[:q], class: 'form-control' %>
      </div> -->

      <%= button_tag 'Search', class: 'btn btn-default' %>
    <% end %>
  </div>
  <div class="col-md-9">
    <% @restaurants.each do |restaurant| %>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/250x150">
        </a>
        <div class="media-body">
          <h3 class="media-heading">
            <%= link_to restaurant, restaurant %>
          </h3>
          <div>
            <%= info_span(restaurant) %>
          </div>
          <p>
            <%= restaurant.description %>
          </p>
          <div>
            <%= link_to 'Explore Menu', restaurant, class: 'btn btn-default' %>
            <%= link_to 'Start a Feast', new_restaurant_feast_path(restaurant), class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Restaurant', new_restaurant_path %>
