<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feast.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feast.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @feast.restaurant %>
</p>

<p>
  <strong>Users:</strong>
  <%= @feast.users.map(&:name) %>
</p>


<%= link_to 'Edit', edit_feast_path(@feast) %> |
<%= link_to 'Back', feasts_path %>
